<VirtualHost *:%PORT%>

	ServerName %SERVER_NAME%
	ServerAdmin %SERVER_ADMIN%

	DocumentRoot %DOCUMENT_ROOT%
	<Directory />
		Options Indexes MultiViews FollowSymLinks
		AllowOverride all
		Require all granted
		DirectoryIndex index.php index.html
	</Directory>

	LoadModule %PHP_MODULE% %PHP_VERSION_LIB%
	<FilesMatch \.php$>
		SetHandler application/x-httpd-php
	</FilesMatch>

	ErrorLog "%ERROR_LOG%"
	CustomLog "%CUSTOM_LOG%" common

</VirtualHost>

